@font-face { font-family: 'ralway';
	src: url('images/ralway/Raleway-VariableFont_wght.ttf');
 	src: url('images/ralway/Raleway-SemiBold.ttf') format('truetype'),
 		 url('images/ralway/Raleway-Bold.ttf') format('truetype'),
 		 url('images/ralway/Raleway-Light.ttf') format('truetype'),
 		 url('images/ralway/Raleway-Medium.ttf') format('truetype');
 	font-weight: normal;
 	font-style: normal;
}

body {
 	 font-family: 'ralway',trebuchet Ms, Times-news-roman, Arial;
 	 
}

#blocpage{
 	 width:320px;
 	 margin-left: auto;
 	 margin-right: auto;
}
                   /************************* Debut style Header ****************************/
      /* *********debut style menu nav*****************/
nav{                                   
 	display: grid;
 	grid-template-columns: 1fr 1fr;
 	height: 100px;
 	font-size: 1.1em;
 } 
.elem a {
	display: block;
	border-bottom:3px #F2F2F2 solid; 
	padding-bottom:5px;
}


.elem a:hover {
	display: block;	
	color:#0065FC;
	text-decoration: none;
	border-bottom: 3px solid #0065FC;
	padding-bottom: 5px;
}

#inscrire{
	border-bottom:3px solid white; 
}

#logo {
    width:100%;
 	height:auto;  
}

.elem:nth-child(1) {
	order: 1;	
	width: 90px;
}
.elem:nth-child(2) {
	order: 3;
	text-align:center;
	
}

.elem:nth-child(3) {
	order: 4;
	text-align: center;
	
}
	
.elem:nth-child(4) {
	order:2;
	text-align: right;
	
}


 .elem a { text-decoration:none; /**Pour tous les liens <a> du bloclogo*/
 		  color:rgba(18,18,18,0.7)
}



#inscrire {
 	color:#0065FC;	
    font-weight: bolder;
}

#inscrire:hover {
	 border-bottom: none;
}



 
h1 {
 	font-size: 1.5em;
}

                     /********** Fin de style menu la balise nav *******/

  
                       /*********champ de recherche*********/
#recherche {
	display: flex;
	flex-direction: row;
	border: 1px rgba(18,18,18,0.2) solid;
	border-radius: 10px;
}

.elemRech:nth-child(1) {
	flex:1;
	text-align: center;
	background-color:#F2F2F2; /* style couleur de fond de la div qui contient de l'icone map*/
	border-top-left-radius: 10px;
	border-bottom-left-radius:10px;
}

.elemRech:nth-child(2) {
	flex:2;

}

.elemRech:nth-child(3) {
	flex:1;
	text-align: center;
	background-color:#0065FC;
	border-radius: 10px;
}

input {
    width: 240px;
	height: 40px;
 	border-style: none;
}

.elemRech i[class="fas fa-map-marker-alt"] { /* style couleur de l'icone map*/
	width: 40px;
 	height: 40px;
 	color:black;
 	line-height: 40px;
 	font-size: 25px;
 	text-align: center;
}

.elemRech i[class="fas fa-search"] {   /* style couleur l'icone recherche */
	width: 40px;
 	height: 40px;
 	color: white;
 	line-height: 40px;
 	font-size: 25px;
 	text-align: center;
}

.elemRech #bouton {
		display: none;
}

#blocfiltre {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap:10px;
	margin: auto;
 	font-size: 14px;
 	display: inline-block;
}

.elementfiltre:nth-child(2) {
	grid-row:1;
	grid-column:2;  
}

.elementfiltre:nth-child(4) {
	grid-row:3;
	grid-column:1; 
	grid-column: span 2;
}


  /* contoure qui englobe les icones suivis de leurs textes*/
.elementfiltre {  
	border: 1px rgba(18,18,18,0.2) solid;
 	border-radius: 40px;
 	font-size:1.2em;
    margin: 3px;
    padding-right: 5px;
 	height: 40px;
 	display: inline-block;
}
  
  /* Le fond des icones en bleu clair en forme de cercle*/
 .elementfiltre a i[class] {
 	width: 40px;
 	height: 40px;
 	color:#0065FC;
 	background-color:#DEEBFF;
 	border-radius: 50%;
 	line-height: 40px;
 	margin: auto ;
 	font-size: 30px;
 	text-align: center;
}

.elementfiltre a {
	padding-right:5px;
}

  .elementfiltre a i[class]:hover { /* Survol des icones  du filtre */
  	background-color: #4FC6F8;  
}

 #blocfiltre a {
 	text-decoration: none;
 	color: black;
 	font-weight: bolder;
}
#blocfiltre a:hover { /* Survol des liens à côté des icones du filtre*/
	color:#0065FC; 
}

.fas.fa-info { /*  style de l'icone info*/  /**** .fas.fa-info = i[class=" fas fa-info"] ****/
    width: 20px;
 	height: 20px;
 	color: #0065FC;
 	background-color:white ;
 	border:1px rgba(18,18,18,0.2) solid;
 	border-radius: 50%;
    line-height:20px;
 	margin: auto;
 	font-size: 16px;
 	text-align: center;
}   

      									/************************* Fin style Header ****************************/




 										/***********************Debut section hebergement à Marseille ************/

#positionHebPop {  /*Identifiant  affichage Flex entre "Hebergement à Marseille et les Populaires" */
  display: flex;
  flex-direction: column-reverse;
}


#affHebergement {
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	align-items: center;
	margin:10px;
	border-radius: 8px;
}

.dimImg { 
	width: 100%;
	height:auto;
	border-top-left-radius:10px;
	border-top-right-radius: 10px;
}

.redimension {
	width:290px;
    height:160px;
    overflow: hidden;
}


.blocphoto {
	background-color: white;
	box-shadow: 0px 4px 4px #1c1a19;
	border: 1px white solid;
	width: 290px;
    border-radius: 10px;
	padding: 5px 5px 5px 5px;
	margin: 10px 10px 10px 10px;
}


#plus {
	text-decoration: none;
	color: black;
	font-weight:bolder;
	margin-left:5px;


}

span {
	font-size: 12px;
	color:rgba(18,18,18,0.7)
}



.etoile {  /**** Cette classe div  etoile contient au dessous de chaque image de la section Hebergment et la section articles les plus populaires ***/
	 display: flex;
}
.fa-star {
	color:#F2F2F2;  /*toutes les etoiles sont en gris par defaut */
	cursor: pointer;
}
.fa-star.bleu {   /*toutes les etoiles suivies en plus de la classe bleu  sont bleu par defaut */
	color:#0065FC;
}

.etoile:hover .fa-star { /* au survole de la classe etoile on force toutes les etoiles en bleu*/
	color:#0065FC;
}

.etoile .fa-star:hover ~ .fa-star { /*  en selectionnant une etoile au survole, toutes les autres etoiles après celle-ci seront gris */
	color:#F2F2F2;
}






  /* *********************************section article les plus populaires **************************/
#couleurfond2 {
  	background-color: #F2F2F2;
   	border-radius: 8px;
   	padding:5px;
   
   
}
#flexarticle {
	display: flex;
   	flex-direction: column;
   	justify-content: space-between;
   	align-items: center;
    margin:5px 5px 5px 5px;
}


.dimImgHoriz {
	width:auto;
 	height:100%;
 	border-top-left-radius:10px;
	border-bottom-left-radius: 10px;
	margin-right: 5px;
	
}
.redimensionHoriz {
	width:130px;
 	height:145px;
 	overflow: hidden;
}

.blocphotoHoriz { /* class bloc photo de la balise article les populaires*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: white;
	box-shadow: 0px 4px 4px #1c1a19;
	border: 1px white solid;
	width: 290px;
    border-radius: 10px;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
}


.horizontale { 
	margin-left: 5px; 
}

.fa-chart-line {
 	float: right;
}

#couleurfond2 h2 a{
	text-decoration: none;
	color:rgb(18,18,18);
}




 /********* section activité à Marseille 2 partie : flexactivit1 et flexactivit2*****/

 .dimImgAc {
 	width:100%;
 	height:auto;
 	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

.redimensionAc {
	width:290px;
    height:160px;
    overflow: hidden;
}


.blocphotoAc {
	background-color: white;
	box-shadow: 0px 4px 4px #1c1a19;
	border: 1px white solid;
	width: 290px;
    border-radius: 10px;
	padding: 5px 5px 5px 5px;
	margin: 10px 10px 10px 10px;
}

.dimImgAcAg {
 	width:100%;
 	height:auto;
 	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

.redimensionAcAg {
	width:290px;
 	height:160px;
 	overflow: hidden;

}



.blocphotoAcAg {
	background-color: white;
	box-shadow: 0px 4px 4px #1c1a19;
	border: 1px white solid;
	width: 290px;
    border-radius: 10px;
	padding: 5px 5px 5px 5px;
	margin: 10px 10px 10px 10px;
}


#blocpage div p {
	font-weight: bolder;
}

  /* affichage flex pour le bloc flexactivite1 */
#flexactivite1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


	 /* affichage flex pour le bloc flexactivite2 */
#flexactivite2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}



 /* ************Pieds de page css ***************/
 footer {
 	display: flex;
 	flex-direction: column;
 	background-color:#F2F2F2;
}
 footer p {
 	margin-left:40px;
 	font-weight: bolder;
 	font-size: 1.2em;
}


.elementpieds ul li a {
	color:rgb(18,18,18,0.8);
	text-decoration: none;
}
.elementpieds ul {
	list-style-type: none;

}
  /************************************ Pour les tablettes ***************************************/

@media screen and  (min-width: 768px)  {
	#blocpage {
 		width:700px; 
	}

	nav{                                   
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap:nowrap;
		height: 50px;
		font-size: 14px;
 	} 
 	#logo {
   	 	width:15%;
 		height:auto;  
	}

	 .elem {
		width:100px;
		height: 25px;
	}

    .elem a {
    	border-bottom: none;
    }

	.elem:nth-child(1) {
		flex-grow:2;
	  	order:1;
	}

	.elem:nth-child(2) {
		order:2;
		text-align:center;
		border-bottom: none;
		padding-top: 5px;
	}  

	.elem:nth-child(3) {
		text-align:center;
		order:3;
		border-bottom: none;
		padding-top: 5px;
	}


	.elem:nth-child(4) {
		order:4;
		text-align:center; 
		
	}

	#inscrire:hover{
	 border-bottom: none;
	}


	 #recherche {
		width:250px;
	}

	input {
		 width: 200px;
	}

	.elemRech i[class="fas fa-search"] { 
		display: none;
	}

	.elemRech a {
		text-decoration: none;
	}

	.elemRech #bouton { /* contenu de la div  recherche dans Destop */
		display: inherit;
		width: 40px;
	 	height: 40px;
	 	color: white;
	 	line-height: 40px;
	 	font-size: 20px;
	 	text-align: center; 
	 	padding-left: 5px;
	 	padding-right: 5px;
	}

	.elemRech:nth-child(3) { /*pour la div recherche dans desktop */
		border-radius:0px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	 #positionHebPop {  /*Identifiant  affichage Flex entre "Hebergement à Marseille et les Populaires" */
  		flex-direction:column;
	}
	

	#affHebergement {
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		width: 700px;
		align-items: center;
	}

	.dimImg {
 		width:100%;
 		height:auto;
	}

	.redimension {
		width:190px;
    	height:80px;
	}

	.blocphoto {
		width: 190px;
		padding: 5px 5px 5px 5px;
		margin: 5px 8px 8px 5px;
	}

	


	 #couleurfond2 {
  	 	background-color: #F2F2F2;
  	 	border-radius: 8px;
  	 	margin:5px 0px 5px 5px;
   		padding:5px;
   	}

  	h3 { font-size: 14px;
	}
               
  	#flexarticle {
  		display: flex;
  		flex-direction: row;
   		
  	}

    .horizontale h3 {
    	font-size:14px;
    }

	.dimImgHoriz {
		width:auto;
 		height:100%;
 	}

 	.redimensionHoriz {
		width:90px;
 		height:130px;
 		
	}


 	.blocphotoHoriz {
		width: 230px;	
	}

 	#blocAct {
		 display: grid;
		 grid-template-columns: 1fr 1fr;
		 grid-template-rows: 1fr;
	}

 	footer {
	 	flex-direction: row;
	 	justify-content: space-around;
	 	padding-left:0px;
	 	margin-top: 10px;
	}
	.elementpieds {
		 margin: 25px 25px 25px 0px;
	}


}



/**********************************************Ecran Desktop******************************************/

@media screen and (min-width: 992px) {
	#blocpage{
		width:900px; 
	}

	nav{                                   
 		display: flex;
	 	flex-direction: row;
	    justify-content: center;
	 	align-items: center;
	 	flex-wrap:nowrap;
	 	height: 50px;
	 	font-size: 14px;
 	}

	
	.elem:nth-child(1) {
		flex-grow:2;
	  	order:1;
	  	
	}

	.elem:nth-child(2) {
		order:2;
		text-align:center;
		border-bottom: none;
	}  

	.elem:nth-child(3) {
		text-align:center;
		order:3;
		border-bottom: none;
	}
		
	.elem:nth-child(4) {
		order:4;
		text-align:center; 
		
	}

	

	        /**Pour tous les liens <a> du bloclogo**/
	 		 
	.elem a {
	    display: block;
		padding-top: 15px;
	}

	.elem a:hover{
		display:block;
		border-top: 3px solid #0065FC;
		border-bottom: none;
		padding-top:12px;
	}

	#inscrire:hover{
		 border-top: 3px solid transparent;

	}

      /**************champ Recherche**********/
	#recherche {
		width:250px;
	}

	input {
		width: 200px;
	}

	.elemRech i[class="fas fa-search"] { 
		display: none;
	}

	.elemRech #bouton { /* contenu de la div  recherche dans Destop */
		display: inherit;
		width: 40px;
	 	height: 40px;
	 	color: white;
	 	line-height: 40px;
	 	font-size: 20px;
	 	text-align: center; 
	 	padding-left: 5px;
	 	padding-right: 5px;
	}

	.elemRech:nth-child(3) { /*pour la div recherche dans desktop */
		border-radius:0px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.elemRech a {
		text-decoration: none;
	}

	#blocfiltre {
		display: flex;	
		flex-direction: row;
		justify-content: flex-start;
	    height: 60px;
		align-items:center;
		font-size:1em;
		margin-top: 15px;
	}

	.elementfiltre {  
    	padding-right:2px;
   		margin: 2px;
    	font-size:1em;
	}
	
   .elementfiltre a i[class] {
	   	width: 40px;
	 	height: 40px;
	 	line-height: 40px;
 		font-size: 25px;
 		text-align: center;
	}
                                     /***Hebergement***/
	#positionHebPop {  /*Identifiant  affichage Flex entre "Hebergement à Marseille et les Populaires" */
  		flex-direction: row;
	}

	#affHebergement {
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		width: 590px;
		align-items: center;
	}

	#couleurfond{
		background-color: #F2F2F2;
		border-radius: 8px;
		margin:5px;
	}

	.dimImg {

 		width:100%;
 		height: 100%;
	}
	.redimension {
		width:175px;
 		height:100px;
	}

	.blocphoto {
		width: 175px;
		padding: 2px 2px 2px 2px;
		margin: 5px 5px 5px 5px;
	}

	h3 {
	    font-size: 13.5px;
	    font-weight: bolder;
	}


	.dimImgHoriz {
		width:auto;
 		height:100%;
 	}

 	.redimensionHoriz {
 		width:100px;
 		height:130px;
 	}

	.blocphotoHoriz {
		width: 230px;
		padding: 2px 2px 2px 2px;
		margin: 5px 5px 5px 5px;	
	}

	

	 #hebergement, #plus { 
	 	margin-left: 20px; /* marge pour titre Hergement et Afficher plus*/
	}

	#flexarticle {
	 	display: flex;
	 	flex-direction: column;
	 	justify-content: space-between;
	}


	      /**************Section activité à Marsielle**********/

	.dimImgAc {
	 	width:100%;
 		height:auto;
	}

	.redimensionAc {
		width:190px;
 		height:90px;
	}
	


	.blocphotoAc {
		width: 190px;
		padding: 0px ;
		margin: 4px 4px 4px 4px;
		border:none;
	}

	.dimImgAcAg {
	 	width:auto;
 		height:100%;
        
	}

	.redimensionAcAg {
		width:190px;
 		height:230px;
 		border-top-right-radius: 10px;
	}


	.blocphotoAcAg {
		width: 190px;
		padding: 0px ;
		margin: 5px 5px 5px 5px;
		border:none;
	}

	#blocAct {
		 display: flex;
		 flex-direction: row;
		 justify-content:center;
	}

	#flexactivite1 {
		display:grid;
		grid-column-start:1;
        grid-row-gap:10px;
        grid-column-gap: 20px;
		grid-template-columns:1fr 1fr;
		grid-template-rows:1fr 1fr;
		margin-right:10px;
	}

	#flexactivite2{
		display: grid;
	    grid-column-start:2;
	    grid-row-gap:10px;
	    grid-column-gap:20px;
		grid-template-columns:1fr 1fr;
		grid-template-rows:1fr 1fr;
		margin-left: 10px;
	}

	.blocphotoAcAg {
		grid-row:span 2;
	}

	.blocphotoAc:nth-child(2) {
		grid-row:1;
		grid-column:2;
	}
	

	aside div p { font-size: 12px;
		padding-left: 10px;
	}

	 footer {
	 	flex-direction: row;
	 	justify-content: flex-start;
	 	padding-left: 0px;
	 	margin-top: 10px;
	}
	.elementpieds {
		 margin: 25px 25px 25px 5px;
	}

}


